.container
  %h1
    Åukasz Badura
  %p
    %a{:href => 'https://github.com/lbadura'} GitHub
    |
    %a{:href => 'http://www.linkedin.com/in/lukaszbadura'} LinkedIn
    |
    %a{:href => 'https://twitter.com/lbadura'} Twitter
